name: Go Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.23.2

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build and tests
      env:
        CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
        LANG: en_US.UTF-8
      # using --trace has a side effect on the the test output.
      run: make --trace all

    - name: Send coverage report
      uses: shogo82148/actions-goveralls@v1
      with:
        path-to-profile: ./build/test-all.cover

  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.23.2

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Release new version
      env:
        GH_TOKEN: ${{ github.token }}
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
      run: make --trace version-release

    - name: Publish new version
      env:
        GH_TOKEN: ${{ github.token }}
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
      run: sleep 60 && make --trace version-publish || true
